<mat-card *ngFor="let section of sections" id="section">
    <mat-card-header id="title">
        <mat-card-title>{{section.name}}</mat-card-title>    
    </mat-card-header>
    <mat-card-content>
        <button *ngFor="let task of section.tasks; let i = index" mat-raised-button class="task">
            {{task.title}}
        </button>
        <button mat-raised-button class="add-task-button" (click)="addTask(section.tasks)">
            <mat-icon>add_circle</mat-icon>
            Add Task
        </button>
    </mat-card-content>
</mat-card>
<div class="add-button">
    <button mat-raised-button class="example-add-tab-button" (click)="addTab(this.sections[0])" *ngIf="editClicked">
        <mat-icon>add_circle</mat-icon>
        Add Status
    </button>
</div>
