#section {
    width: 300px;
    display: inline-grid;
    margin: 1em;
}

@media screen and (max-width: 420px) {
    #section {
        width: 85%;
    }
    #title {
        width: 93%;
        margin: 3% !important;
    }
    .add-task-button {
        position: inherit !important;
    }
}
@media screen and (max-width: 295px) {
    #title {
        width: 136px;
        margin: 3% !important;
    }
}

#title {
    text-align: center;
    margin: 0.5em;
    height: 32px;
    margin-bottom: 2em;
}

.add-button {
    width: 155px;
    display: inline-grid;
    position: relative;
}

h2 {
    color: #673ab7;
    font-style: italic;
    font-weight: 300 ;
}

.task {
    display: block;
    width: 100%;
}

.add-task-button {
    position: relative;
    left: 230px;
}

.example-add-tab-button {
    margin-left: 2px;
}

.mat-grid-tile-content {
    position: relative !important;
    justify-content: start !important;
}

.edit-button {
    position: absolute;
    bottom: 10px;
    right: 0px;
}

.dialog-task {
    display: inline-grid; 
    padding: 0px 0px 40px 30px;
}

.card-section {
    padding: 0px 0px 0px 0px; 
    float: right; 
    display: inline-grid;
}

.comments-section {
    border-radius: 10px;
    padding: 10px;
    background-color: #673ab7;
    color: white;
}

.send-button {
    right: -91%
}

.task-blocked {
    background-color: #F56868;
}

.delete-task {
    color: purple;
    margin: 0px 0px 0px 0px;
    position: absolute;
    right: 12px;
    cursor: pointer;
}

.button-delete {
    position: inherit;
    right: 0px;
    float: right;
}

.loading {
    width: 200px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
}