<mat-card *ngFor="let section of sections" id="section">
    <mat-card-header id="title">
        <mat-card-title>{{section.name}}</mat-card-title>    
    </mat-card-header>
    <mat-card-content>
        <button *ngFor="let task of section.tasks; let i = index" mat-raised-button class="task">
            {{task.title}}
        </button>
        <button  mat-mini-fab matTooltip="Primary" color="primary"  class="add-task-button" (click)="openNewTaskDialog(section)">
            <mat-icon>add_circle</mat-icon>
        </button>
    </mat-card-content>
</mat-card>
<div class="add-button">
    <button mat-fab matTooltip="Primary" color="primary" class="example-add-tab-button" (click)="openNewStatusDialog()" *ngIf="editClicked">
        <mat-icon>add_circle</mat-icon>
    </button>
</div>
