<div id="boardButtons">
    <button mat-fab extended color="primary" class="example-add-tab-button" (click)="addTab()" *ngIf="this.editClicked">
        <mat-icon>add_circle</mat-icon>
        Add Board
    </button>
    <button mat-fab extended color="primary" class="example-delete-tab-button" [disabled]="tabs.length === 1" (click)="removeTab(selected.value || 1)" *ngIf="this.editClicked">
        <mat-icon>cancel</mat-icon>
        Delete Board
    </button>
    <button mat-fab extended color="primary" class="example-edit-tab-button" (click)="this.editClicked = !this.editClicked;">
        <mat-icon>edit</mat-icon>
        Edit
    </button>
</div>
<div id="boards">
    <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
        <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab.name">
            <app-tasks-section [editClicked]="editClicked" [boardId]="tab.id" [user]="user"></app-tasks-section>
        </mat-tab>
    </mat-tab-group>
</div>

