.board-content {
    margin: 2em;
}

.example-edit-tab-button {
    height: 35px;
    float: right;
}

.example-delete-tab-button {
    height: 35px;
}

.example-add-tab-button {
    height: 35px;
}

#boardButtons {
    position: relative;
}

#boards {
    position: relative;
    width: 100%;
    display: inline-block;
}